<%= form_for(@user_note) do |f| %>
  <% if @user_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_note.errors.count, "error") %> prohibited this user_note from being saved:</h2>

      <ul>
      <% @user_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
