<p id="notice"><%= notice %></p>

<h1>Listing User Notes</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_notes.each do |user_note| %>
      <tr>
        <td><%= user_note.note %></td>
        <td><%= user_note.user_id %></td>
        <td><%= link_to 'Show', user_note %></td>
        <td><%= link_to 'Edit', edit_user_note_path(user_note) %></td>
        <td><%= link_to 'Destroy', user_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User note', new_user_note_path %>
