<p id="notice"><%= notice %></p>


<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<!-- TODO retrieve user name based on id -->
  <tbody>
    <% @user_notes.each do |user_note| %>
      <tr>
        <td><%= user_note.note %></td>
        <td><%= (User.find(user_note.user_id)).username %></td>
        <!-- user_list.find(user_note.user_id)  does not work -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
