<!DOCTYPE html>
<html>
<head>
  <title>SimpleWebApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<!-- % if cUser != nil %> -->
  <div align="right"><h2>Welcome, UserName</h2></div>
  
<!-- % else %> -->
  <div align="right"><h2>You are not signed in. Login or Sign Up Now!</h2></div>

<!-- % end %> -->
  

<!-- or -->

<hr>

<%= yield %>


<hr>
<div align="right">
  <%= link_to "Home", root_path %>
  <%= link_to "About", about_path %>  
  <%= link_to "Contact", contact_path %>
  <%= link_to "Create User", new_user_path %>
</div>

</body>
</html>
